@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .contact-link {
        font-size: 16px;

        line-height: 1.5;
    }

    .section-hero {
        padding: 188px 0;
    }

    .section-about {
        padding: 120px 0;
    }
}